DATABASE_URL="postgresql://geoexplorer:geoexplorer@localhost:5432/geoexplorer?schema=public"

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""

UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""

REVALIDATE_SECRET=""

ADMIN_EMAIL=""
ADMIN_INITIAL_PASSWORD=""
