DATABASE_URL="postgresql://geoexplorer:geoexplorer@localhost:5432/geoexplorer?schema=public"

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""

UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

ADMIN_EMAIL=""
ADMIN_INITIAL_PASSWORD=""
